@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
.btn-bento .square {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #0d1117;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .btn-bento .square:nth-of-type(1) {
    top: 6px;
    left: 6px; }
  .btn-bento .square:nth-of-type(2) {
    top: 6px;
    left: 20px; }
  .btn-bento .square:nth-of-type(3) {
    top: 6px;
    left: 34px; }
  .btn-bento .square:nth-of-type(4) {
    top: 20px;
    left: 6px; }
  .btn-bento .square:nth-of-type(5) {
    top: 20px;
    left: 20px; }
  .btn-bento .square:nth-of-type(6) {
    top: 20px;
    left: 34px; }
  .btn-bento .square:nth-of-type(7) {
    top: 34px;
    left: 6px; }
  .btn-bento .square:nth-of-type(8) {
    top: 34px;
    left: 20px; }
  .btn-bento .square:nth-of-type(9) {
    top: 34px;
    left: 34px; }

.btn-bento.open .square {
  transform: rotate(45deg);
  background-color: #4361ee; }
  .btn-bento.open .square:nth-of-type(1) {
    transform: translateX(14px) scale(0.5) rotate(45deg); }
  .btn-bento.open .square:nth-of-type(2) {
    height: 36px; }
  .btn-bento.open .square:nth-of-type(3) {
    transform: translateY(14px) scale(0.5) rotate(45deg); }
  .btn-bento.open .square:nth-of-type(4) {
    width: 36px; }
  .btn-bento.open .square:nth-of-type(6) {
    width: 36px;
    transform: translateX(-75%) rotate(45deg); }
  .btn-bento.open .square:nth-of-type(7) {
    transform: translateY(-14px) scale(0.5) rotate(45deg); }
  .btn-bento.open .square:nth-of-type(8) {
    height: 36px;
    transform: translateY(-75%) rotate(45deg); }
  .btn-bento.open .square:nth-of-type(9) {
    transform: translateX(-14px) scale(0.5) rotate(45deg); }

.btn-steal {
  margin-right: 1vw;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1000;
  position: relative; }
  .btn-steal:focus {
    outline: 0; }

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140px; }
  .toggle span {
    margin: 0 0.5rem; }
  .toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden; }
    .toggle input[type="checkbox"]:checked + label {
      background: teal; }
    .toggle input[type="checkbox"]:checked + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%); }
  .toggle label {
    cursor: pointer;
    width: 55px;
    height: 25px;
    background: #628281;
    display: block;
    border-radius: 40px;
    position: relative; }
    .toggle label:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 2px;
      width: 25px;
      height: 25px;
      background: #fff;
      border-radius: 40px;
      transition: 0.3s; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
